<div class="topNavBar">
    <div class="goLogo">
        <img src="images/GoLogo.png" alt="">
        <span>TRENDS</span>
    </div>
    <div class="categoryBrands">
        <li><a href="#">Home</a></li>
        <li id="hoverCategory">
            <a href="#">Category</a>
            <span class="material-symbols-outlined" id="expandMore">expand_more</span>
            <!-- Add Hover Container From Here-->
        </li>
        <li id="hoverCategory">
            <a href="#">Brands</a>
            <span class="material-symbols-outlined" id="expandMore">expand_more</span>
        </li>
    </div>
    <div class="searchBar">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search By Category">
    </div>
    <div class="rightSideButton">
        <a href="#"><span class="material-symbols-outlined">local_mall</span></a>
    </div>
    <div class="loginButton">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Log In / Sign Up</button>
    </div>
</div>
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">WELCOME TO GO TRENDS</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Log In / Sign Up</h5>
          <div class="inputElements">
            <li><input type="text" placeholder="Enter Your Mobile No / ID"></li>
            <li><input type="password" placeholder="Enter Password"></li>
          </div>
          <div class="loginButton">
            <button id="loginBtn">Log In</button>
          </div>
          <div class="forgotpwd"><a href="#">FORGOT PASSWORD?</a></div>
          <div class="donthaveAnAccount">Don't have an account <span><a href="#">Sign Up</a></span></div>
        </div>
        
    </div>

  </div>
</div>