#heading
{
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
    color: darkslategrey;

}
.main{
    width: 85%;
    height: 200px;
    border: 1px solid grey;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    left: 6%;
    

}
.num
{
    width: 65%;
    height: 550px;
    border: 1px solid ;
    margin: 10px;
    padding: 15px;
    border-radius:15px ;
    position: absolute;
    left:17%;
    top: 40%;
}

.scontainer
{
    width: 5%;
    height: 35px;
    padding: 5px;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    float: left;

}
.highlight{
    background-color: yellowgreen;
}
#btn
{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family:'Times New Roman';
    position: absolute;
    left: 45%;
    top: 70%;
}
.container
{
    width: 12%;
    height: 70px;
    font-size: 3rem;
    text-align: center;
    margin: 10px;
    border: 1px solid;
    position: absolute;
    left: 41%;
    top: 5%;
    border-radius: 15px;
    padding: 15px;
}