extends layout

block content
    h1 Employee details page...
    ul
        li Employee Name: #{name}
        li Employee Age: #{age}
        li Employee Gender:#{gender}
        li Location:#{location}
